{% extends 'layout.html' %}

{% block body %} 
  <!-- Page Header -->
  <header class="masthead" style="background-image:url({{url_for('static',filename='q.jpg')}}" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            
          <div class="container mx-5 mx-5 mx-5 mx-5 mx-5">
            <iframe width="655" height="355" src="https://www.youtube.com/embed/_OEvUiNv-sw">
            </iframe>
          </div>

            <span class="subheading container mx-5 mx-5 mx-5 mx-5 mx-5 "> <h2>Learn, Grow and Fly with Natasha<h2></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/post">

            <center>
            <h2 class="post-title">
              Why? Natasha
            </h2></center>
            <h5 class="post-subtitle">
              Natasha - India’s first managed online learning network. We provide an organized orientation that makes a student exam ready in an effortless way. We are not teaching only even to provide a new era of learning dimensions to grow people.
            </h5>
          
          <h5 class="post-subtitle">
              With Natasha, we also provide an online performance to provide wings to the new era artists. Advance video performances with upcoming events planning.
            </h5>
        </div></a>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              
            </h2>
          </a>
          <p class="post-meta">
            <center><h2>Learn With Natasha</p></h2></center>
        </div>
        

          
     <div class="container my-4"> 
  <div class="row"> 

    <div class="card col-md-3 mx-auto" style="width: 18rem;">
      <img src="{{url_for('static',filename='11.jpg')}}" class="card-img-top mt-2" alt="...">
      <div class="card-body">
        <h5 class="card-title row">Astronomy</h5>
        <p class="card-text"></p>
        
      </div>
    </div>


    <div class="card col-md-3 mx-auto" style="width: 18rem;">
      <img src="{{url_for('static',filename='12.jpg')}}" class="card-img-top mt-2" alt="...">
      <div class="card-body">
        <h5 class="card-title row"> Photography</h5>
        <p class="card-text row"></p>
    
      </div>
    </div>


    <div class="card col-md-3 mx-auto" style="width: 18rem;">
      <img src="{{url_for('static',filename='13.jpg')}}" class="card-img-top mt-2" alt="...">
      <div class="card-body">
        <h5 class="card-title row">Earth Science</h5>
        <p class="card-text"></p>
        
      </div>
    </div>
</div>
</div>

<dir><center>
  <h2>
    We Provide Services For 
  </h2>
</center>
</dir>
<div class='row'>
  <div class="card col-md-2 mx-auto " style="width: 18rem;">
 <img src="{{url_for('static',filename='z.jpg')}}" class="card-img-top mt-2" alt="..."></div>

 <div class="card-body">
        <h5 class="card-title row"></h5>
        <p class="card-text"></p>
        
      </div>
 <div class="card col-md-2 mx-auto " style="width: 18rem;">
 <img src="{{url_for('static',filename='x.jpg')}}" class="card-img-top mt-2" alt="..."></div>

 <div class="card-body">
        <h5 class="card-title row"></h5>
        <p class="card-text"></p>
        
      </div>
 <div class="card col-md-2 mx-auto" style="width: 18rem;">
 <img src="{{url_for('static',filename='c.jpg')}}" class="card-img-top mt-2" alt="..."></div>

 <div class="card-body">
        <h5 class="card-title row"></h5>
        <p class="card-text"></p>
        
      </div>
 <div class="card col-md-2 mx-auto " style="width: 18rem;">
 <img src="{{url_for('static',filename='v.jpg')}}" class="card-img-top mt-2" alt="..."></div>


 <div class="card-body">
        <h5 class="card-title row"></h5>

        <p class="card-text"></p>
        
      </div>
<div>
  <br><br><br>

  

<h2><center> Event Calender</center></h2>

<br><br>


  <div class="float-left mx-5"> <br><table border='1'  bordercolor='#FFFF00' cellspacing='0' cellpadding='0' align=center>
<tr><td><table cellspacing='0' cellpadding='0' align=center width='100' border='1'><tr><td  align=center bgcolor='#ffff00'><font size='3' face='Tahoma'> <a href='html_calendar.php?prm=08&chm=-1' rel="nofollow"><</a></font> </td><td colspan=5 align=center bgcolor='#ffff00'><font size='3' face='Tahoma'>Aug 2020 </font> </td><td  align=center bgcolor='#ffff00'><font size='3' face='Tahoma'> <a href='html_calendar.php?prm=08&chm=1' rel="nofollow">></a>  </font></td></tr><tr><td><font size='3' face='Tahoma'><b>Sun</b></font></td><td><font size='3' face='Tahoma'><b>Mon</b></font></td><td><font size='3' face='Tahoma'><b>Tue</b></font></td><td><font size='3' face='Tahoma'><b>Wed</b></font></td><td><font size='3' face='Tahoma'><b>Thu</b></font></td><td><font size='3' face='Tahoma'><b>Fri</b></font></td><td><font size='3' face='Tahoma'><b>Sat</b></font></td></tr><tr><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td valign=top><font size='2' face='Tahoma'>1  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>2  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>3  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>4  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>5  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>6  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>7  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>8  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>9  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>10  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>11  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>12  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>13  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>14  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>15  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>16  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>17  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>18  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>19  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>20  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>21  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>22  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>23  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>24  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>25  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>26  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>27  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>28  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>29  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>30  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>31  
<br>
 </font></td></tr></table></td></tr></table></div>
  <div class="float-right mx-5">
    <p><h5>Live Music Event By Piano Artists </h5></p><p>24 August,2020 at 5.00pm</p><p><h5>Live Music Event By Piano Artists</h5></p><p>25 August,2020 at 5.00pm</p><p><h5>Live Music Event By Piano Artists </h5><p>26 August,2020 at 5.00pm</p>
  </div>

<br><br><br><br>



  <div class="float-left my-2"></div>
  <div class="float-right my-2">
    
  </div>




  




<br><br><br><br><br><br><br><br><br><br>



  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
</style>
</head>
<body>

<div class="slideshow-container" mx-5 mx-5 mx-5 mx-5 mx-5>

<div class="mySlides">
  <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
  <p class="author">- John Keats</p>
</div>

<div class="mySlides">
  <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
  <p class="author">- Ernest Hemingway</p>
</div>

<div class="mySlides">
  <q>I have not failed. I've just found 10,000 ways that won't work.</q>
  <p class="author">- Thomas A. Edison</p>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>

<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

</body>






</div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
        
        </div>
      </div>
    </div>
  </div>





{% endblock %}
 